*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#050816;
    color:white;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 8%;
    position:fixed;
    width:100%;
    background:rgba(0,0,0,0.7);
    backdrop-filter:blur(10px);
}

.logo{
    font-size:28px;
    font-weight:bold;
    color:#00d9ff;
}

nav a{
    margin:0 15px;
    color:white;
    text-decoration:none;
}

.launch-btn{
    background:#00d9ff;
    color:black;
    border:none;
    padding:12px 24px;
    border-radius:10px;
    cursor:pointer;
}

.hero{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:0 10%;
    background:linear-gradient(to bottom,#050816,#0f172a);
}

.hero-content h1{
    font-size:64px;
    margin-bottom:25px;
}

.hero-content p{
    font-size:20px;
    color:#b3b3b3;
    margin-bottom:30px;
}

.hero-buttons button{
    padding:14px 28px;
    border:none;
    border-radius:10px;
    margin:10px;
    cursor:pointer;
}

.secondary{
    background:transparent;
    border:1px solid #00d9ff !important;
    color:#00d9ff;
}

.about,
.features,
.roadmap,
.tokenomics{
    padding:120px 8%;
}

.about-grid,
.feature-grid,
.token-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
    margin-top:40px;
}

.card,
.feature-card,
.token-card,
.timeline-item{
    background:#0f172a;
    padding:30px;
    border-radius:20px;
    transition:0.3s;
}

.card:hover,
.feature-card:hover,
.token-card:hover{
    transform:translateY(-10px);
}

.timeline{
    display:grid;
    gap:25px;
    margin-top:40px;
}

footer{
    padding:60px;
    text-align:center;
    background:#020617;
}
